@model IEnumerable<AnchoredinHim.Models.ATeamBmore>

@{
    ViewBag.Title = "Index";
}

<body>
    <div class="ateam">
        <header>
            <h1>
                ATeam Baltimore
            </h1>
        </header>
    </div>
</body>